/* Header */
h2{
  background-color: #fff3c9;
  color: #144a11;
  text-align: center;
  padding: 2%;
  margin: auto;
}
h2:hover{
  color: #020557;
}
/* Navigation */
.container-fluid{
  background-color: #144a11;
  text-align: center;
  padding: 1%;
}
.link{
  color: #fff3c9;
}
.linkgreen{
  color: #144a11;
}

.link:hover{
  color: #020557;
}
/* Media (small screen exception) */
@media (min-width: 1100px){
  .centersite{
    max-width: 75%;
    margin: auto;
  }
}
/* Trees */
ol > ul{
  font-style: italic;
}
#tree_picture{
  display: block;
  width: 75%;
  margin: auto;
}
/* Soil */
table {
  border: 1px solid gray;
  text-align: center;
}
tr,th,td{
  border: 1px solid gray;
}
th,.leftmostcell{
  background: #fff3c9;
  color: #144a11;
  font-weight: bold;
}

/* Plants */
div[role=alert]{
  width: 75%;
  margin: auto;
}
